@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}



h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

header {
    height: 10vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border: 1px solid white;

}

ul {
    display: flex;
    gap: 50px;
}

ul li {
    list-style: none;
}

.btn {
    padding: 10px 15px;
    background-color: black;
    border: 2px solid white;
    color: white;
    font-weight: 500;
    border-radius: 8px;
}

header span {
    color: orange;
}

.heading {
    color: white;
}

header ul a {
    position: relative;
    /* padding: 0 4px; */
}

header ul a::before {
    content: '';
    position: absolute;
    background-color: palevioletred;
    width: 100%;
    bottom: -5px;
    left: 0;
    height: 3px;
    transform-origin: left;
    transform: scaleX(0);
    transition: 0.5s all ease-in-out;
}

header ul a:hover::before {
    transform-origin: right;
    transform: scaleX(1);

}

.section1 {
    background-image: url('./images/bg.webp');
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.blur {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.head {
    color: white;
}

.home_page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    width: 34%;
    height: 70%;
    /* border: 1px solid black; */
}

.left span {
    color: orange;
}

.right {
    width: 30%;
    height: 70%;

    /* border: 1px solid black; */
}


.right img {
    border-radius: 50%;
    width: 300px;
}

.icons span {
    padding: 5px 5px;
    border-radius: 50%;
    border: 1px solid black;
}

.fa {
    font-size: 2.3rem;
    margin: 15px 0;
    font-size: 2.5rem;
    color: white;
    transition: .5s all ease-in-out;
}

.fa-linkedin {
    margin-left: 15px;

}

.fa:hover {
    transform: scale(1.4);
    text-shadow: 1px 1px 3px white;
}

.fa-linkedin:hover {
    color: #0A66C2;
}

/* Skills Page CSS */

.section2 {
    height: 100vh;
    background-image: url('./images/section2.webp');
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 1px solid white;
}

.about {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}


.about h2,
.skills h2 {
    color: white;
    text-align: center;
    padding: 20px 30px;
}

.about p {
    color: white;
    padding: 10px 30px;
    font-size: 1.5rem;
    text-align: justify;
}

.skills {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.skills_box {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px 30px;
}

.skills_box div {
    border-radius: 10px 10px;
    background-color: rgba(0, 0, 0, 0.9);
    height: 170px;
    width: 170px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.skills_box div h3 {
    color: white;
}

.skills_box div img {
    width: 90px;
}

/* Projects Section */

.section3 {
    height: 100vh;
    background-image: url('./images/section3.webp');
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 1px solid white;
    border-bottom: 1px solid white;

}


/* Contact Section */

.section4 {
    height: 100vh;
}